/* set and forgets */
html {
  font-size: 5vh;

  /* font-family: "Fraunces", serif; */
  font-family: "Inter", sans-serif;
  font-weight: 700;

  --primary: #fff1ed;
  --primary1: #d2b6a7;
  --primary2: #b1886f;

  --secondary: #86231c;
  --secondary1: #611611;
  --secondary2: #340502;

  --trinary: #4b0426;
  --trinary1: #6c0837;
  --trinary2: #840d45;
  text-align: left;
  scroll-behavior: smooth;
}

h1 {
  font-size: 2.632rem;
  color: var(--trinary2);
}
h2 {
  font-family: "Fraunces", serif;
  font-size: 2.24rem;
  color: var(--trinary2);
}
h3 {
  font-family: "Fraunces", serif;
  font-size: 1.906rem;
  color: var(--trinary2);
}
h4 {
  font-size: 1.622rem;
  color: var(--trinary1);
}
h5 {
  font-size: 1.381rem;
  color: var(--trinary1);
}
h6 {
  font-size: 1.175rem;
  color: var(--trinary1);
}
p {
  font-size: 1rem;
  color: var(--trinary);
}

main {
  background-color: var(--primary);
}

body {
  margin: 0;
}

/* Class Selectors */
.empty_space {
  width: 100%;
  height: 20vh;
  background-color: var(--primary);
}

.standard {
  height: 50vh;
  background-color: var(--primary);
}

.box {
  border: 2px solid var(--secondary);
  border-radius: 25px;
  background-color: var(--primary1);
  box-shadow: 5px 5px 10px var(--primary2);
  padding-left: 40px;
  margin: 0 20px 30px 20px;
}

.project {
  height: 50vh;
  text-align: center;
  border: 2px solid var(--secondary);
  border-radius: 25px;
  background-color: var(--primary1);
  box-shadow: 5px 5px 10px var(--primary2);
  margin: 0 20px 30px 20px;
}

/* ID Selectors */
#chunk1 {
  height: 50vh;
}

#name {
  text-align: center;
}

#navBar {
  position: fixed;
  bottom: 77px;
}

#navBar a p {
  font-size: 0.5rem;
}

@media screen and (min-width: 800px) {
  #project_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
  }
}
@media screen and (max-width: 800px) {
  #project_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50vw, 1fr));
  }
}
