{% extends "layout.html" %} {% block title %} Home {% endblock %} {% block main
%}

<header>
  <nav id="navBar">
    <a href="#"><p>Top</p></a>
    <a href="#name"><p>About</p></a>
    <a href="#project_box"><p>Projects</p></a>
    <a href="#foot"><p>Bottom</p></a>
  </nav>
</header>
<main>
  <div class="standard" style="height: 100vh"></div>
  <div class="standard">
    <h1 id="name">Elijah Cline</h1>
  </div>
  <div class="empty_space"></div>
  <div class="standard" style="height: 100vh"></div>
  <div class="empty_space"></div>
  <div id="project_box">
    <div class="project">Box1</div>
    <div class="project">Box2</div>
    <div class="project">Box3</div>
    <div class="project">Box4</div>
  </div>
  <div class="standard"></div>
  <div class="empty_space"></div>
  <div class="empty_space"></div>
</main>
<footer>
  <div class="box" id="foot">Footer</div>
</footer>
{% endblock %}
