{% extends "layout.html" %} {% block title %} Home {% endblock %} {% block main
%}

<header>
  <div class="box">Nav Bar</div>
</header>
<main>
  <div class="standard" style="height: 100vh"></div>
  <div class="standard">
    <h1 id="name">Elijah Cline</h1>
  </div>
  <div class="empty_space"></div>
  <div class="standard" style="height: 100vh"></div>
  <div class="empty_space" id="project_box"></div>
  <div class="standard"></div>
  <div class="empty_space"></div>
</main>
<footer>
  <div class="box">Footer</div>
</footer>
{% endblock %}
